img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

main .about img {
  border-radius: 100px;
}

html {
  background-color: #eee;
}

:not(highlight) p code {
  background-color: #dcbdbd;
  color: #333;
  padding: 0px 5px 0px 5px;
}